.container{
    background-color:rgb(198, 253, 253);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 30px;
    padding-top: 5vh;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.342);
}
.container p{
    display: flex;
    justify-content: start;
    
}

/*Lista de tareas*/
ul{
    padding: 0;
    margin: 0;
}
li{
    background-color: rgb(198, 253, 253);
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 30px;
}
input{
    background-color: rgb(198, 253, 253);
    border: 0px;
    padding: 5px;
    font-size: 30px;
}